<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- boostrap v5.3 css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

    <div class="d-flex justify-content-between">
        <div class="menu-item h2">item 1</div>
        <div class="menu-item h2">item 2</div>
        <div class="menu-item h2">item 3</div>
        <div class="menu-item h2">item 4</div>
        <div class="menu-item h2">item 5</div>

    </div>

    <div class="row">
        <div class="menu-item h4 col-xs-2 col-md-1 col-lg-6 bg-danger">item 2</div>
        <div class="menu-item h4 col-xs-2 col-md-1 col-lg-6 bg-success">item 3</div>
        <div class="menu-item h4 col-xs-2 col-md-1 col-lg-6 bg-primary">item 4</div>
        <div class="menu-item h4 col-xs-2 col-md-1 col-lg-6 bg-">item 5</div>
        <div class="menu-item h4 col-xs-2 col-md-1 col-lg-6">item 1</div>
        <div class="menu-item h4 col-xs-2 col-md-1 col-lg-6">item 6</div>
        <div class="menu-item h4 col-xs-2 col-md-1 col-lg-6">item 7</div>
        <div class="menu-item h4 col-xs-2 col-md-1 col-lg-6">item 8</div>
        <div class="menu-item h4 col-xs-2 col-md-1 col-lg-6">item 9</div>
        <div class="menu-item h4 col-xs-2 col-md-1 col-lg-6">item 10</div>
        <div class="menu-item h4 col-xs-2 col-md-1 col-lg-6">item 11</div>
        <div class="menu-item h4 col-xs-2 col-md-1 col-lg-6">item 12</div>


    </div>

    <div style="background-color: red;">
        <h1>this is a h1 tag</h1>
    </div>
</body>
</html>