<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- font-awesome  -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <!-- BEGIN:head -->
    <header>
        <nav>
            <div class="logo">
                <img src="../images/logo.png" alt="" style="width: 80%;">
            </div>
            <ul class="menu">
                <li class="menu-item"><a href="">trang chủ</a></li>
                <li class="menu-item"><a href="">giới thiệu</a></li>
                <li class="menu-item"><a href="">sản phẩm</a></li>
                <li class="menu-item"><a href="">tin tức</a></li>
                <li class="menu-item"><a href="">đối tác</a></li>
                <li class="menu-item"><a href="">liên hệ</a></li>
            </ul>
        </nav>
    </header>
    <!-- END:head -->
    <!-- END:main -->
    <main>
        <section class="banner">
                <div class="container">
                    <div class="banner-img">
                        <img src="../images/banner.png" alt="">
                    </div>
                    <div class="introduction">
                        <h1 style="color: #2c2e53;">THẾ GIỚI NỘI THẤT SỐ 1 VIỆT NAM</h1>
                        <H1 style="color: #bd945f;">HOÀNG HOAN</H1>
                        <P>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ea, ex nesciunt quas hic, facilis quo nam, quidem maxime sapiente fugiat. Magni repudiandae commodi minima qui consequatur perspiciatis reiciendis quasi!
                        </P>
                        <button><a href="">LIÊN HỆ NGAY</a></button>
                    </div>
                </div>


        </section>

        <section class="product">
            <div class="container">
                <div class="category">
                    <div>
                    <img src="../images/loai-sp/icon-phong-khach.png" alt="">
                    <p> phòng khách</p></img>
                    </div>
                    <div>
                    <img src="../images/loai-sp/icon-phong-ngu.png" alt="">
                        <p>phòng ngủ</p>
                    </img>
                    </div>
                    <div>
                    <img src="../images/loai-sp/icon-phong-bep.png" alt="">
                        <p>phòng bếp</p>
                    </img>
                    </div>
                    <div>
                    <img src="../images/loai-sp/icon-phong-tam.png" alt="">
                        <p>phòng tắm</p>
                    </img>
                    </div>
                    <div>
                    <img src="../images/loai-sp/icon-tre-em.png" alt="">
                        <p>trẻ em</p>
                    </img>
                    </div>
                    <div>
                    <img src="../images/loai-sp/icon-van-phong.png" alt="">
                        <p>văn phòng </p>
                    </img>
                </div>
                <div>
                    <img src="../images/loai-sp/icon-cau-thang.png" alt="">
                        <p>cầu thang</p>
                    </img>
                </div>
                <div>
                    <img src="../images/loai-sp/icon-do-trang-tri.png" alt="">
                        <p>đồ trang trí</p>
                    </img>
                </div>
                </div>
                <div class="hot-product">
                    <div class="title"><h2 style="font-size: xx-large;" >SẢN PHẨM NỔI BẬT</h2></div>  
                </div>
                <div class="img-hot">
                    <button  ><a href="">&lt;</a></button>
                    <div>
                        <img src="../images/san-pham-noi-bat/sp-1.jpg" alt="">
                        <p>GIƯỜNG CHÂU ÂU</p>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <p>(Size vừa,trắng nâu)</p>
                        <p>9.000.000 VNĐ</p>
                    </div>    
                    <div>
                        <img src="../images/san-pham-noi-bat/sp-2.jpg" alt="">
                        <p>BÀN LÀM VIỆC</p>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <p>(Size lớn,trắng sữa)</p>
                        <p>9.000.000 VNĐ</p>
                    </div>    
                    <div>
                        <img src="../images/san-pham-noi-bat/sp-3.jpg" alt="">
                        <p>TỦ QUẦN ÁO</p>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <p>(4 ngăn, trắng gỗ)</p>
                        <p>9.000.000 VNĐ</p>
                    </div>    
                    <div>
                        <img src="../images/san-pham-noi-bat/sp-4.jpg" alt="">
                        <p>KỆ ĐỂ ĐỒ</p>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <p>(4 ngăn, trắng gỗ)</p>
                        <p>9.000.000 VNĐ</p>

                    </div>    
                    <button  ><a href="">&gt;</a></button>
                </div>
            </div>

           


        </section>

        <section class="about-us">
            <div class="img-bg">
                <img src="../images/ve-chung-toi/bg-about-us.jpg" alt="">
            </div>
            <div class="titlt">VỀ CHÚNG TÔI</div>
            
        </section>

        <section class="news">

        </section>

    </main>
    <!-- END:main -->
    <!-- BEGIN:footer -->
    <footer>
        <div class="container">
            <div class="infor">
                <div class="title">THÔNG TIN CHUNG</div>
                <ul class="list-infor">
                    <li style="font-size: 1.2rem; font-family: 'font-medium';">CONG TYY TNHH HOÀNG HOAN</li>
                    <li><i class="fa-solid fa-phone"></i>&nbsp;0.123.465</li>
                    <li>&nbsp;@GMAIL.COM</li>
                    <li>&nbsp;Nguyễn Trãi,HN</li>
                    
                </ul>
            </div>
            <div class="about-us">
                <div class="title">Về chúng tôi</div>
                <ul class="list-pages">
                    <li><a href="">giới thiệu</a></li>
                    <li><a href="">sản phẩm </a></li>
                    <li><a href="">tin tức</a></li>
                    <li><a href="">đối tác</a></li>
                    <li><a href="">liên hệ</a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="title">kết nối với chúng tôi</div>
                <ul>
                    <li>
                        <div><img src="../images/facebook.png" alt=""></div>
                        <div><img src="../images/zalo.png" alt=""></div>
                        <div><img src="../images/mail.png" alt=""></div>
                    </li>
                    <li class="">
                        <div><img src="../images/xacnhan-bocongthong.png" alt=""></div>
                    </li>
                </ul>
            
            </div>

        </div>

    </footer>
    <!-- END:footer -->

</body>
</html>