@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model lab03.Models.Book
@{
    ViewData["Title"] = "Create";
}
<h2>Thêm mới danh sách</h2>
<form action="" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title">Tên sách</label>
        <input type="text" class="form-control" asp-for="Title" placeholder="Tên sách" />

    </div>
    <div class="form-group">
        <label asp-for="AuthorId">Tác giả</label>
        <select asp-for="AuthorId" class="form-control" asp-items="@ViewBag.authors">
            <option value="">Chọn tác giả</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="GenerId">Thể loại</label>
        <select asp-for="GenerId" class="form-control" asp-items="@ViewBag.genres">
            <option value="">Chọn thể loại</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Price">Giá sách</label>
        <input type="text" class="form-control" asp-for="Price" placeholder="Giá sách" />

    </div>
    <div class="form-group">
        <label asp-for="Price">Tổng số trang </label>
        <input type="text" class="form-control" asp-for="TotalPage" placeholder="Tổng số trang" />

    </div>
    <div class="form-group">
        <label asp-for="Image">Hình ảnh/ poster</label>
        <input type="file" class="form-control" asp-for="Image"  />

    </div>
    <div class="form-group">
        <label asp-for="Sumary">Giới thiệu ngắn</label>
        <textarea class="form-control" asp-for="Sumary" placeholder="Nội dung giới thiệu sách..."></textarea>

    </div>
    <button type="submit" class="btn btn-primary">Lưu lại</button>
</form>