*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: #222;
    font-family: 'font-medium';
}
a{
    text-decoration: none;
}
header{
    border-bottom: 1px solid #000;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
header nav {
    display: flex;
    align-items: center;
    width: calc(12*100%/18);
    margin: auto;
    justify-content: space-between;
    padding: 1rem;

}
header nav .menu{
    display: flex;
    width: calc(7*100%/12);
    justify-content: space-between;
    

}
header nav .menu .menu-item {
    line-height: 2rem;
    position: relative;
}
header nav .menu .menu-item:first-child:after{
    content: "";
    position: absolute;
    left: 0;right: 0;bottom: 0;
    background-color: #bd945f;
    height: 0.2rem;
    width: 60%;

}
header nav .menu .menu-item:hover::after{
    content: "";
    position: absolute;
    left: 0;right: 0;bottom: 0;
    background-color: #bd945f;
    height: 0.2rem;
    width: 60%;

}
/* main */
/* 1.banner */
main .banner .container .banner-img{
    width: 100%;
    
}
main .banner .container .banner-img img{
    width: 100%;
    
}
main .banner .container{
    position: relative;
}
main .banner .container .introduction{
    position: absolute;
    left: 0;right: 0;top: 10%  ;
    width: calc(12*100%/18);
    margin: auto;

}
main .banner .container .introduction h1{
    font-family: 'font-ultra';
    font-size: 2rem;
}
main .banner .container .introduction p{
    width: 50%;
    text-align: justify;
    margin:2rem 0 ;
}

main .banner .container .introduction button{
    border: none;
    background-color: #bd945f;
    padding: 1rem 2rem;
    color: #fff;
    font-family: 'font-ultra';
}
/* 2.product */
main .product{
    background-color: #f3f3f3;
    margin-top: -50px;

}
main .product.container{
    
    margin-top: -50px;

}
main .product .container .category{
    /* padding: 5rem; */
    background-color: #fff;
    
    position: relative;
    z-index: 3;
    width: calc(12*100%/18);
    margin: auto;
    display: flex;
    flex-wrap: wrap;   
  
}
main .product .container .category div{
    padding: 15px;
    
}
main .product .container .category img{
    width: 70%;
}

main .product .container .category div{
    text-align: center;
    
}
main .product .container .hot-product .title{
    margin-top: 1rem;
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
    padding: 7rem 0 3rem 0;
}
main .product .container .hot-product .title::after{
    content: "";
    position: absolute;
    left: 44%;
    background-color:#bd945f;
    height: 0.5rem;
    width: 12rem;
   

}



main .img-hot{
    /* position: absolute; */
    left: 0;right: 0;top: 10%  ;
    width: calc(12*100%/18);
    margin: auto;
    display: flex;
    z-index: 3;
    padding-bottom: 5rem ;

}
main .img-hot div{
    text-align: center;
    
}
main .product .img-hot img{
    width: 70%;
}
main .product .img-hot button{
    height: 2rem;
    margin-top: 4rem;
    border-radius: 50%;
}
/* about-us */
main .about-us .img-bg {
    width: 100%;
}
main .about-us .img-bg img{
    width: 100%;
    filter: brightness(40%);
}
main .about-us .container {
    position: relative;
   
}
main .about-us .container .about-us-top{
    position: absolute;
    left: 0;right: 0;top: 10%  ;
    width: calc(12*100%/18);
    margin: auto;
    
    
}
main  .about-us-top .title{
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    padding: 1.5rem;
}

main .about-us-top .title{
    
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
    
}
main .about-us-top .title::after{
    content: "";
    position: absolute;
    left: 42%;
    background-color: red;
    height: 0.5rem;
    width: 12rem;
    margin-top: 2.5rem;
   

}
main  .about-us-logo  {
    width: 100%;
}

main  .about-us-logo img {
    width: 100%;
}

main  .content {
    width: auto;
    left: 0;right: 0;top: 10%  ;
    display: flex;
    
}
main  .content P{
    color: white;
    padding: 1rem 0;
    font-size:1rem ;
}
main .content h2{
    color: white;
    /* padding-bottom:1rem; */
}
main .content .content-ex{
    padding-left: 2rem;
    width: 100%;
}
main .about-us .content .content-ex img{
    width: 20%;
    padding-right: 1rem;
}







/* footer */
footer{
    margin-top: auto;
    background-color: #363636;
}
footer .container{
    display: flex;
    width: calc(12*100%/18);
    margin: auto;
    justify-content: space-between;
    padding: 1rem;
    line-height: 1.7rem;
    

}
footer li,footer a,footer .title,footer i{
    color: white;
}
footer li,footer a{
    font-family: 'font-thin';
}
footer .title{
    margin-top: 1rem;
    position: relative;
    margin-bottom: 1rem;
}
footer .title::after{
    content: "";
    position: absolute;
    left: 0;right: 0;bottom: 0;
    background-color: #fff;
    height: 0.3rem;
    width: 5rem;

}
footer .container ul li:first-child{
    display: flex;
    align-items: center;
}
footer .container ul li div{
    width: 3rem;
    margin-right: 1rem;
}
footer .container ul li div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
footer .container ul li:last-child{
    
}