*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: #222;
    font-family: 'font-medium';
}
a{
    text-decoration: none;
}
header{
    border-bottom: 1px solid #000;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
header nav {
    display: flex;
    align-items: center;
    width: calc(12*100%/18);
    margin: auto;
    justify-content: space-between;
    padding: 1rem;

}
header nav .menu{
    display: flex;
    width: calc(7*100%/12);
    justify-content: space-between;
    

}
header nav .menu .menu-item {
    line-height: 2rem;
    position: relative;
}
header nav .menu .menu-item:first-child:after{
    content: "";
    position: absolute;
    left: 0;right: 0;bottom: 0;
    background-color: #bd945f;
    height: 0.2rem;
    width: 60%;

}
header nav .menu .menu-item:hover::after{
    content: "";
    position: absolute;
    left: 0;right: 0;bottom: 0;
    background-color: #bd945f;
    height: 0.2rem;
    width: 60%;

}
/* main */
/* 1.banner */
main .banner .container .banner-img{
    width: 100%;
    
}
main .banner .container .banner-img img{
    width: 100%;
    
}
main .banner .container{
    position: relative;
}
main .banner .container .introduction{
    /* display: block; */
    position: absolute;
    left: 0;right: 0;top: 10%  ;
    width: calc(12*100%/18);
    margin: auto;

}
main .banner .container .introduction h1{
    font-family: 'font-ultra';
    font-size: 2rem;
}
main .banner .container .introduction p{
    width: 50%;
    text-align: justify;
    margin:2rem 0 ;
}

main .banner .container .introduction button{
    border: none;
    background-color: #bd945f;
    padding: 1rem 2rem;
    color: #fff;
    font-family: 'font-ultra';
}
/* 2.product */
main .product{
    background-color: #f3f3f3;
    margin-top: -50px;

}
main .product.container{
    
    margin-top: -50px;

}
main .product .container .category{
    /* padding: 5rem; */
    background-color: #fff;
    
    position: relative;
    z-index: 3;
    width: calc(12*100%/18);
    margin: auto;
    display: flex;
    flex-wrap: wrap;   
    
}
main .product .container .category div{
    padding: 15px;
    
}
main .product .container .category img{
    width: 70%;
}

main .product .container .category div{
    text-align: center;
    
}
main .product .container .hot-product .title{
    margin-top: 1rem;
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
    padding: 7rem 0 3rem 0;
}
main .product .container .hot-product .title::after{
    content: "";
    position: absolute;
    left: 44%;
    background-color:#bd945f;
    height: 0.5rem;
    width: 12rem;
   

}



main .img-hot{
    /* position: absolute; */
    /* left: 0;right: 0;top: 10%  ; */
    width: calc(12*100%/18);
    margin: auto;
    /* display: flex; */
    z-index: 3;
    /* padding-bottom: 5rem ; */

}
main .img-hot div{
    text-align: center;
    display: block;
}
main .product .img-hot img{
    width: 70%;

    margin: auto;
}
main .product .img-hot button{
    height: 2rem;
    /* margin-top: 4rem; */
    border-radius: 50%;
}
/* about-us */
main .about-us .img-bg {
    width: 100%;
}
main .about-us .img-bg img{
    width: 100%;
    filter: brightness(40%);
}
main .about-us .container {
    position: relative;
   
}
main .about-us .container .about-us-top{
    position: absolute;
    left: 0;right: 0;top: 3%  ;
    width: calc(12*100%/18);
    margin: auto;
    
    
}


main .about-us-top .title{
    color: #fff;
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    
}
main .about-us-top .title::after{
    content: "";
    position: absolute;
    left: 45%;
    background-color: #bd945f;
    height: 0.4rem;
    width: 6rem;
    margin-top: 2rem;
}


main  .about-us-logo  {
    width: 100%;
}

main  .about-us-logo img {
    width: 100%;
}

main  .content {
    width: auto;
    left: 0;right: 0;top: 10%  ;
    display: flex;
    
}
main  .content P{
    color: white;
    padding: 1rem 0;
    font-size:1rem ;
}
main .content h2{
    color: white;
    /* padding-bottom:1rem; */
}
main .content .content-ex{
    padding-left: 2rem;
    width: 100%;
}
main .about-us .content .content-ex img{
    width: 20%;
    padding-right: 1rem;
}

main .about-us-end .title{
    color: #fff;
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
}
main .about-us-end .title::after{
    content: "";
    position: absolute;
    left: 45%;
    background-color: #bd945f;
    height: 0.4rem;
    width: 6rem;
    margin-top: 2rem;

}
main .about-us .container .about-us-end{
    position: absolute;
    left: 0;right: 0;top: 60%  ;
    width: calc(12*100%/18);
    margin: auto;
    
    
}
main .about-us .about-us-end .why-chose{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
}
main .about-us .why-chose-ex{
    width: 50%;
    margin-bottom: 20px;
    display: flex;
}
main .about-us .why-chose-ex .world{
    padding-top: 1.6rem;
    width: 78%;
    background-color: #f3f3f3;
    height: 67%;
}
main .about-us .why-chose-ex .world h3{
    color: #bd945f;
}
.slick-prev:before, .slick-next:before { 
    font-size: 3rem;
    color: #bd945f;
 
}
.slick-prev{
    left: -40px;
}
/* new */
main .news .title{
    color: #0e076d;
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
}
main .news .title::after{
    content: "";
    position: absolute;
    left: 46%;
    background-color: #bd945f;
    height: 0.4rem;
    width: 7.6rem;
    margin-top: 2rem;

}

main .news .container  {
    /* position: absolute; */
    left: 0;right: 0;top: 3%  ;
    width: calc(12*100%/18);
    margin: auto;
    display: flex;
}
main .news .container .news-img {
    width: 172%;

}
main .news .container .news-img img{
    width: 100%;
    

}

main .news .news-img-ex{
    filter: brightness(1);
    background-color: rgb(189, 148, 95);
    padding: 2rem;
    margin-top: -9rem;
} 

main .news .container .news-word{
    /* display: flex; */
    
}
main .news .news-word .news-word-ex{
    display: flex;
    margin:0 0 1rem 3rem;

}
main .news .news-word  h4 {
    font-size:1.3rem ;
    margin-bottom: 1rem;
    padding-left: 2rem;
    justify-content: space-between;
    color:#bd945f ;
}
main .news .news-word  h5{
    color: black;
    padding-left: 2rem;
    font-size: 0.9rem;
}

/* partner */
main .partner .title{
    color: rgb(30, 10, 121);
    position: relative;  
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
}
main .partner .title::after{
    content: "";
    position: absolute;
    left: 47%;
    background-color: #bd945f;
    height: 0.4rem;
    width: 6rem;
    margin-top: 2rem;

}
main .partner .partner-items{
    position: relative;
    z-index: 3;
    width: calc(12*100%/18);
    margin: auto;
    display: flex;
    
}
main .partner .partner-items img{
    width: 100%;
    margin-bottom: 5rem;
}
main .contact .container {
    background-image: url('../images/lienhe-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    padding: 5rem;
    justify-content: space-around;
    position: relative;
}

main .contact .container .title {
    position: relative;
    font-family: 'font-ultra';
    font-size: 1.5rem;
    color: #fff;
    margin-left: 5rem;
    font-size: 3rem;
}

main .contact .container .title h3 {
    color: #fff;
}

main .contact .container .title ::after {
    content: "";
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 20%;
    height: 0.4rem;
    bottom: 2rem;
}

main .contact .container .form label {
    color: #fff;
}

main .contact .container .form .input input {
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    border: none;
}

main .contact .container .form .input button {
    margin-left: 1rem;
    padding: 0.8rem 2rem;
    border: none;
}

.contact-img {
    position: absolute;
    width: 15%;
    left: 3%;
    top: -30%;
}








/* footer */
footer{
    margin-top: auto;
    background-color: #363636;
}
footer .container{
    display: flex;
    width: calc(12*100%/18);
    margin: auto;
    justify-content: space-between;
    padding: 1rem;
    line-height: 1.7rem;
    

}
footer li,footer a,footer .title,footer i{
    color: white;
}
footer li,footer a{
    font-family: 'font-thin';
}
footer .title{
    margin-top: 1rem;
    position: relative;
    margin-bottom: 1rem;
}
footer .title::after{
    content: "";
    position: absolute;
    left: 0;right: 0;bottom: 0;
    background-color: #fff;
    height: 0.3rem;
    width: 5rem;

}
footer .container ul li:first-child{
    display: flex;
    align-items: center;
}
footer .container ul li div{
    width: 3rem;
    margin-right: 1rem;
}
footer .container ul li div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
footer .container ul li:last-child{
    
}



/* responsice */

@media screen and (max-width: 1197px) {
    header nav .menu{
        width: calc(9*100%/12);
    }
    main .banner .introduction h1{
        width: calc(9*100%/12);
    }
}
@media screen and (max-width: 425px) {
    header nav .menu{
        display: none;
    }
    header{
        position: relative;
    }
    header nav .response-menu{
        display: block;
        position: absolute;
        right: 1.5rem;left: auto;
        top: 55%;
        width: 30%;
        background-color: #aca194;
        z-index: 3;
        text-align: center;
        /* padding: 1rem ;
        margin-right: 1rem; */

    }
    .fa-bars{
        display: block!important;
    }
    
    main .product .container .category{
        width: 100%;
        
    }main .product .container .category div {
        padding: 9px;
    }
    main .banner .container .introduction {
       
        position: absolute;
        left: 0;
        right: 0;
        top: 5%;
        width: calc(12*100%/18);
        margin: auto;
    }
    main .banner .container .introduction h1 {
        font-family: 'font-ultra';
        font-size: 1.5rem;
    }
    main .banner .container .introduction p {
        width: 100%;
        text-align: justify;
        margin: 1rem 0;
    }
}