<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/doitac.css">
    <link rel="stylesheet" href="../respon/doitac.css">
</head>
<body>
    <section>
        <div class="banner"><img src="../imgs/banner.jpg" alt=""></div>
        <div class="logo">
            <img src="../imgs/logo.png" alt="">
            <h1 class="partner"> ĐỐI TÁC</h1>
        </div>
    </section>
    <section class="container">
        

        <div class="items">
            <div class="items-ex">
                <div  class="items-logo">
                    <img src="../imgs/vinpearl.png" alt="">
                </div>
                <div class="content">
                    <h3>
                        CÔNG TY CỔ PHẦN VINPEARLP
                    </h3>
                    <p>
                        Vinpearl là thương hiệu dịch vụ du lịch - nghỉ dưỡng - giải trí lớn nhất Việt Nam. Vinpearl sở hữu chuỗi thương hiệu khách sạn, resort, spa cùng trung tâm hội nghị, ẩm thực và sân golf đẳng cấp 5 sao và các khu vui chơi giải trí theo tiêu chuẩn quốc tế tọa lạc tại những danh thắng du lịch nổi tiếng nhất của Việt Nam.
                    </p>
                </div>
            </div>
            <div class="items-ex">
                <div class="items-logo">
                    <img src="../imgs/muong-thanh.png" alt="">
                </div>
                <div class="content">
                    <h3>
                        TẬP ĐOÀN KHÁCH SẠN MƯỜNG THANH 
                    </h3>
                    <p>Tại Mường Thanh, chúng tôi mời bạn cùng khởi hành chuyến đi tìm về không gian thanh thản chứa đựng những nét văn hóa mang đậm tinh thần bản sắc Việt, nơi con người gắn kết và thân ái gửi trao nhau tình cảm chân thành. </p>
                </div>
            </div>
            <div class="items-ex">
                <div class="items-logo">
                    <img src="../imgs/sheraton.png" alt="">
                </div>
                <div class="content">
                    <h3>
                        SHERATON HANOI HOTEL
                    </h3>
                    <p>Khách sạn Sheraton Hanoi tọa lạc bên hồ Tây, cách sân bay quốc tế Nội Bài chỉ 20 phút đi xe. Không chỉ là khách sạn 5 sao gần sân bay nhất, du khách còn có thể dễ dàng di chuyển từ đây tới khu phố cổ Hà Nội, các địa điểm tham quan nổi tiếng nhộn nhịp chỉ trong vài phút.</p>
                </div>
            </div>
            <div class="items-ex">
                <div class="items-logo"> 
                    <img src="../imgs/the-coffee-house.png" alt="">
                </div>
                <div class="content">
                    <h3>
                        THE COFFEE HOUSE
                    </h3>
                    <p>Mỗi sản phẩm, chiến dịch của The Coffee House luôn xoay quanh con người. Chúng tôi lấy khách hàng, nhân viên và cộng đồng làm trọng tâm cho mọi quyết định. Vì khi có bạn, The Coffee House được tiếp thêm sức mạnh để cùng lan toả những giá trị tốt đẹp cho người trẻ Việt Nam.</p>
                </div>
            </div>
            <div class="items-ex">
                <div class="items-logo">
                    <img src="../imgs/marvella.png" alt="">
                </div>
                <div class="content">
                    <h3>
                        MARVELLA HOTEL NHA TRANG
                    </h3>
                   <p>Tại Hà Nội, Capella Hanoi là dự án đầu tiên đánh dấu sự hiện diện của Capella Hotel Group tại thị trường Việt Nam. Khách sạn có quy mô chỉ 47 phòng, với thiết kế kiến trúc và tiện nghi, nội thất sang trọng. Đây sẽ là boutique hotel 5 sao đầu tiên tại thủ đô. Capella Hotel Group là cái tên gắn liền với những khách sạn siêu sang trọng trên toàn thế giới.</p>
                </div>
            </div>
            
        </div>
    </section>
</body>
</html>