<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/lienhe.css">
    <link rel="stylesheet" href="../responsive/respon.css">
</head>
<body>
    <section>
        <div class="banner"><img src="../imgs/banner.png" alt=""></div>
        <div class="logo">
            <img src="../imgs/logo.png" alt="">
            <h1 class="partner"> LIÊN HỆ</h1>
        </div>
    </section>
    <section class="container">
        <div class="contact">
            <div>
                <img src="../imgs/sp-1.jpg" alt="">
            </div>
            <div class="info">
                <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
                <p><input type="text" value="Họ tên"></p>
                <p><input type="text" value="Email"></p>
                <p><input type="text" value="Số điện thoại "></p>
                <p><input type="text" value="Nội dung"></p>
                <p><button>gửi</button></p>
            </div>
        </div>
        
    </section>
</body>
</html>