@model Lession04.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Edit Category</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form  asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group">
                <label asp-for="Id" class="input-group-text"></label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="input-group">
                <label asp-for="Name" class="input-group-text"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="input-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            
            <div class="hidden" hidden>
                <div class="input-group">
                    <label asp-for="CreateDate" class="input-group-text"></label>
                    <input asp-for="CreateDate" class="form-control" />
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <label asp-for="CreateBy" class="input-group-text"></label>
                    <input asp-for="CreateBy" class="form-control" />
                    <span asp-validation-for="CreateBy" class="text-danger"></span>
                </div>
            </div>
            <div class="input-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Quay lại danh sách</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
