<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/xuongmoc.css">
    <link rel="stylesheet" href="../respon/respon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section class="container">
        <div class="items">
            <div class="top">
                <h3 class="title">PHÒNG KHÁCH</h3>
                <p ><a href="#" style="text-decoration: none;">XEM TẤT CẢ </a></p>
            </div>
            <div class="row">
                <div class="col">
                    <img src="../imgs/phong-khach-ban-uong-nuoc-2.png" alt="">
                    <h4>BÀN UỐNG NƯỚC</h4>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <P>9.000.000VNĐ</P>
                </div>
                <div class="col"><img src="../imgs/phong-khach-ban-uong-nuoc.png" alt="">
                    <h4>BÀN UỐNG NƯỚC</h4>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <P>9.000.000VNĐ</P>
                </div>
                <div class="col"><img src="../imgs/phong-khach-ke-de-do.png" alt="">
                    <h4>BÀN UỐNG NƯỚC</h4>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <P>9.000.000VNĐ</P>
                </div>
                <div class="col"><img src="../imgs/phong-khach-ke-ti-vi.png" alt="">
                    <h4>BÀN UỐNG NƯỚC</h4>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <P>9.000.000VNĐ</P>
                </div>      
                <div class="col"><img src="../imgs/phong-ngu-1.png" alt="">
                    <h4>BÀN UỐNG NƯỚC</h4>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <P>9.000.000VNĐ</P>
                </div>
                

            </div>
        </div>
    </section>
    <section class="container">
        <div class="items">
            <div class="top">
                <h3 class="title" >PHÒNG NGỦ</h3>
                <p ><a href="#" style="text-decoration: none;">XEM TẤT CẢ </a></p>
            </div>
            <div class="row">
                <div class="col">
                    <img src="../imgs/phong-ngu/giuong-chau-au.png" alt="">
                    <h4>BÀN UỐNG NƯỚC</h4>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <P>9.000.000VNĐ</P>
                </div>
                <div class="col"><img src="../imgs/phong-ngu/giuong-ngu.png" alt="">
                    <h4>BÀN UỐNG NƯỚC</h4>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <P>9.000.000VNĐ</P>
                </div>
                <div class="col"><img src="../imgs/phong-ngu/ke-dau-giuong.png" alt="">
                    <h4>BÀN UỐNG NƯỚC</h4>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <P>9.000.000VNĐ</P>
                </div>
                <div class="col"><img src="../imgs/phong-ngu/tu-quan-ao.png" alt="">
                    <h4>BÀN UỐNG NƯỚC</h4>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <P>9.000.000VNĐ</P>
                </div>      
                <div class="col"><img src="../imgs/phong-khach-ban-uong-nuoc-2.png" alt="">
                    <h4>BÀN UỐNG NƯỚC</h4>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <i class="fa-sharp fa-solid fa-star"></i>
                    <P>9.000.000VNĐ</P>
                </div>
                

            </div>
        </div>
    </section>
</body>
</html>