*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
    
}
.container{
    margin: 1rem;
    background-color: white;
}

.items{
    width: 100%;
    
}
.top{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem ;
}
.top h3{
    color: rgb(71, 14, 124);
    font-size: 2rem;

}
.top p{
    
    font-size: 1.5rem;
}

.row{
    width: 100%;
    display: flex;
    
    flex-wrap: wrap;
    position: relative;
}
.col{
    
    text-align: center;
}
.col img{
    width: 100%;
}

.container .top .title{
    
    position: relative;
    
    text-align: center;
    padding-bottom: .5rem;
}
.container .top .title::after{
    content: "";
    position: absolute;
    left: 0;top: 100%;
    background-color:#bd945f;
    height: 0.5rem;
    width: 12rem;
   

}