nav#mainNav{
    width: 200px;
    background-color: #ccc;
    
}
nav#mainNav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
    
}
nav#mainNav ul li{
    border-bottom: solid 1px #fff;
    position: relative;
}
nav#mainNav ul li a{
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    width: 85%;
    
}
.selected,nav#mainNav ul li a :hover{
    background-color: #20b93a;
    color: blue;
}
nav#mainNav ul li> ul{
    position: absolute;
    margin-left: 200px;
    width: 200px;
    background-color: #666;
    top :0px;
    visibility: hidden;
}
nav#mainNav ul li:hover>ul{
    visibility: visible;
    background-color: yellow;
} 
nav#mainNav ul li > ul li{
    border-left: solid 1px #fff;
}
nav#mainNav ul li ul li:hover>a{
    background-color: aqua;
}